<!--<!doctype html>
<html>
  <body>
    <div class="s003">
      <form method="POST">
        <div class="inner-form">
          <div class="input-field second-wrap">
            <input id="search" type="url" name="url" placeholder="https://g00gl3.com" />
          </div>
          <div class="input-field third-wrap">
            <button class="btn-search" type="submit">
              <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" viewBox="0 0 512 512">
                <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
              </svg>
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html> -->

<!doctype html>
<html>
  <head>
    <title>Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </head>
  <body>
  <div class="text-center">
    <p style="font-size: 50px; margin-top: 13%"><b style="font-size: 100px; color: #7ec0d8">P</b>hishing <b style="font-size: 100px; color: #d05e27">W</b>ebsite <b style="font-size: 100px; color: #3ba0c4">D</b>etector</p>
  </div>
    <div class="input-group" style="width: 70%; margin-left: 15%; margin-top: 3%">
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
  <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
      <button type="button" class="btn btn-warning" style="width: 100px">Go</button>
</div>
    <div class="container-fluid">
    <img src="static/images/giphy.gif" class="rounded mx-auto d-block"; style="width: 25%; height: 25%; margin-top: 50px" alt="Рыбка">
    </div>
  </body>
</html>

<!--colors:
#9ddcf9 (blue)
#7ec0d8 (dark blue)
#f58020 (orange)
#d05e27 (dark orange)
#fbac18 (light orange)